$breakpoints: (
        xs: 576px,
        sm: 640px,
        md: 768px,
        lg: 1040px,
        xl: 1200px
);

@mixin breakpoint($breakpoint) {

    // If the breakpoint exists in the map.
    @if map-has-key($breakpoints, $breakpoint) {

        // Get the breakpoint value.
        $breakpoint-value: map-get($breakpoints, $breakpoint);

        // Write the media query.
        @media (min-width: $breakpoint-value) {
            @content;
        }
    }
}

