.div-left {
    margin-bottom: 20px;
    overflow: hidden;
    width: 100%;

    .letter-icon {
        float: left;
        margin-right: 12px;
        margin-top: 8px;

        @include breakpoint(sm) {
            margin-right: 30px;
        }
    }

    .basket-icon {
        float: left;
        margin-right: 12px;
        margin-top: 8px;

        @include breakpoint(sm) {
            margin-right: 30px;
        }
    }

    .next-to-icon {
        max-width: 260px;
    }

    @include breakpoint(sm) {
        float: left;
        width: 332px;
    }

    @include breakpoint(lg) {
        padding-left: 20px;
        width: 352px;
    }
}

.div-right {
    margin-bottom: 40px;
    overflow: hidden;

    .discount-message {
        float: left;
        max-width: 145px;
        text-align: center;
        width: 50%;

        @include breakpoint(lg) {
            max-width: 168px;
        }
    }

    .discount-message:nth-child(1) {
        margin-right: 5px;

        @include breakpoint(lg) {
            margin-right: 16px;
        }
    }

    .discount-message:nth-child(2) {
        margin-left: 5px;

        @include breakpoint(lg) {
            margin-left: 16px;
        }
    }

    .letter-icon {
        margin: 0 auto 14px;
    }

    .basket-icon {
        margin: 0 auto 14px;
    }

    @include breakpoint(lg) {
        margin-bottom: 44px;
        padding-left: 80px;
    }
}

.next-to-icon {
    display: block;
    margin-left: 72px;
}

.wrapper {
    overflow: hidden;
    width: 100%;

    .div-half {
        float: left;
        max-width: 434px;

        @include breakpoint(lg) {
            margin-right: 44px;
        }
    }
}
