@import '../globals/font_mixin';

/* fonts */
$opensans-bold: 'opensans-bold';
$opensans-bold-italic: 'opensans-bold-italic';
$opensans-extra-bold: 'opensans-extra-bold';
$opensans-extra-bold-italic: 'opensans-extra-bold-italic';
$opensans-light: 'opensans-light';
$opensans-light-italic: 'opensans-light-italic';
$opensans-regular: 'opensans-regular';
$opensans-semibold: 'opensans-semibold';
$opensans-semibold-italic: 'opensans-semibold-italic';

/* relative to main.css */
/*  opensans-bold  */
@include font-face($opensans-bold, '../fonts/opensans_bold_macroman/OpenSans-Bold-webfont');

@include font-face($opensans-bold-italic, '../fonts/opensans_bolditalic_macroman/OpenSans-BoldItalic-webfont');

@include font-face($opensans-extra-bold, '../fonts/opensans_extrabold_macroman/OpenSans-ExtraBold-webfont');

@include font-face($opensans-extra-bold-italic, '../fonts/opensans_extrabolditalic_macroman/OpenSans-ExtraBoldItalic-webfont');

@include font-face($opensans-light, '../fonts/opensans_light_macroman/OpenSans-Light-webfont');

@include font-face($opensans-light-italic, '../fonts/opensans_lightitalic_macroman/OpenSans-LightItalic-webfont');

@include font-face($opensans-regular, '../fonts/opensans_regular_macroman/OpenSans-Regular-webfont');

@include font-face($opensans-semibold, '../fonts/opensans_semibold_macroman/OpenSans-Semibold-webfont');

@include font-face($opensans-semibold-italic, '../fonts/opensans_semibolditalic_macroman/OpenSans-SemiboldItalic-webfont');

