html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
    margin: 0;
    padding: 0;
}

img {
    height: auto;
    max-width: 100%;
}

/* magento specific reset */
.page-main {
    padding: 0;
}

.sections.nav-sections {
    margin-bottom: 0px;
}

.sections.nav-sections {
    page-footer: 0px;
}
