.sticky {
    background: $white;
    height: 133px;
    position: fixed;
    top: 0;
    -webkit-transition: top .4s linear;
    -moz-transition: top .4s linear;
    transition: top .4s linear;
    width: 100%;
    z-index: 5000;
}

.sticky-bottom {
    position: fixed;
    top: 133px;
    -webkit-transition: top .4s linear;
    -moz-transition: top .4s linear;
    transition: top .4s linear;
    width: 100%;
    z-index: 2500;
}

.sticky-logo {
    position: fixed;
    z-index: 6000;
}

.sticky-search {
    position: fixed;
    z-index: 6020;
}

.sticky-minicart {
    margin-left: 0px;
    position: fixed;
    z-index: 6040;
}

@keyframes move-logo-up {
    from {
        top: 73px;
        width: 148px;
    }
    to {
        top: 15px;
        width: 120px;
    }
}

@keyframes move-logo-down {
    from {
        top: 15px;
        width: 120px;
    }
    to {
        top: 73px;
        width: 148px;
    }
}

@keyframes move-search-up {
    from {
        top: 73px;
    }
    to {
        top: 10px;
    }
}

@keyframes move-search-down {
    from {
        top: 10px;
    }
    to {
        top: 73px;
    }
}

.page-header-transition {
    top: -133px;
}

.sections-transition {
    top: 0;
}

.logo-transition-up {
    animation-name: move-logo-up;
    animation-timing-function: linear;
    top: 15px;
    width: 120px;
    -webkit-transition: top .4s linear;
    -moz-transition: top .4s linear;
    transition: top .4s linear;
}

.logo-transition-up {
    animation-duration: .4s;
}

.logo-transition-down {
    animation-duration: .4s;
    animation-name: move-logo-down;
    animation-timing-function: linear;
}

.block-search-transition-up {
    animation-duration: .4s;
    animation-name: move-search-up;
    animation-timing-function: linear;
    top: 10px;
    -webkit-transition: top .4s linear;
    -moz-transition: top .4s linear;
    transition: top .4s linear;
}

.block-search-transition-down {
    animation-duration: .4s;
    animation-name: move-search-down;
    animation-timing-function: linear;
}
