.img-bus {
    margin-bottom: 24px;
    margin-left: -10px;
    margin-right: -10px;

    max-width: 100vw;
    position: relative;

    @include breakpoint(xs) {
        float: right;
        height: 300px;
        margin: 0 40px;
        width: 300px;

    }
    @include breakpoint(lg) {
        height: 220px;
        width: 220px;
    }
}

@mixin icon($url) {
    display: block;
    width: 42px;
    height: 42px;
    border-radius: 21px;
    background: url($url) no-repeat 50% 50%;
}

.letter-icon {
    @include icon('../images/letter-icon.png');
}

.basket-icon {
    @include icon('../images/basket-icon.png');
}

.checkmark-icon {
    height: 11px;
    margin: 6px 10px 0 auto;
    object-fit: contain;
    width: 10px;
}
