.list-style {
    @include unordered-list;
    font-weight: bold;
    margin: 0 34px 40px 33px;

    @include breakpoint(lg) {
        margin: 0 0 32px 88px;
    }
}

li::marker {
    height: 6px;
    width: 6px;
}