.mobile-table {
    border: 1px solid $table-border-color;
    border-collapse: collapse;
    font-family: $opensans-regular;
    margin-bottom: 10px;
    width: 100%;

    th {
        @include table-column-title;
        background-color: $table-th-color;
        border: 1px solid $table-border-color;
        padding: 15px 0;
        table-layout: fixed;
        text-align: center;
        text-transform: uppercase
    }

    td {
        @include body-text-small;
        background-color: $table-td-color; //13+1(border) , 9+1(border)
        border: 1px solid $table-border-color;
        padding: 13px 9px;

    }

    td:nth-child(2) {
        text-align: center;
        width: 50%;
    }

    @include breakpoint(lg) {
        display: none;
    }
}

.desktop-table {
    border-collapse: collapse;
    display: none;
    margin-bottom: 40px;
    table-layout: fixed;

    width: 100%;

    tr {
        height: 54px;
    }

    th {
        @include table-column-title;
        background-color: $table-th-color;
        border: 1px solid $table-border-color;
        height: 54px;
        overflow: hidden;
        padding: 16px 0 0;
        table-layout: fixed;
        text-align: center;
        text-transform: uppercase
    }

    th:nth-child(1) {
        min-width: 180px;
    }

    th:nth-child(2) {
        min-width: 292px;
    }

    th:nth-child(3) {
        min-width: 244px;
    }

    th:nth-child(4) {
        min-width: 244px;
    }

    td {
        background-color: $table-td-color;
        @include body-text-small;
        border: 1px solid $table-border-color;
        font-size: 14px;
        line-height: 21.5px;
        overflow: hidden;
        padding: 19px 26px;
    }

    td:nth-child(2), td:nth-child(3), td:nth-child(4) {
        text-align: center;
    }

    @include breakpoint(lg) {
        display: block;
    }
}
