<!--
/**
* @category     Scandi
* @package      Scandi_Module
* @author       Janis Laurins info@scandiweb.com
* @copyright    Copyright (c) 2020 Scandiweb, Inc (https://scandiweb.com)
* @license      http://opensource.org/licenses/OSL-3.0 The Open Software License 3.0 (OSL-3.0)
*/
-->
<div class="main-container">
    <div class="split-content">
        <div class="line-spacer"></div>
        <p class="opensans-regular-18">
            Most important information goes here. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            Donec sit amet vestibulum ligula, eu ultricies nibh. Sed eu dolor neque. Vestibulum rhoncus ligula a leo placerat,
            vitae scelerisque purus malesuada. Pellentesque vel fringilla lacus. Mauris auctor lectus eget eros dapibus imperdiet.
            Maecenas at placerat odio.
        </p>
    </div>
    <h5 class="heading-1-proxima">Courier Delivery Service</h5>
    <img src="<?php echo $this->getViewFileUrl('images/pic.png'); ?>" alt="pic" class="img-bus">
    <p class="jysk">
        JYSK.lv uses Purolator to deliver soft goods (ex. Bedding, Home Décor, Bath Products).
        It is important that you provide correct address information. If after three failed attempts of delivering your products,
        it will be held at your closest Purolator depot for two weeks for pick up. If your order is not picked up, it will be returned
        to the JYSK store that sent the product out. At this point, a refund will be given to you for only the products.
        <br>
        <br>
        You will receive a shipment email with a Purolator tracking number once your order is ready for delivery.
        You will be able to start tracking your order at <a href="http://www.purolator.com" class="JYSK-style-1">http://www.purolator.com</a>
        once Purolator picks up the products from the JYSK store.
    </p>
    <h5 class="heading-2">Local Delivery Service</h5>
    <p class="jysk-24">
        YSK.lv uses 3rd party delivery companies to send furniture and mattress products. All deliveries will be a two man service
        and will be either first-point-of-entry or any room in the house depending on location.
    </p>
    <ul class="list-style">
        <li class="text-li">The best shipping company in the world</li>
        <li class="text-li">Another bullet point outlining the good local deliveries</li>
        <li class="text-li">The third bullet point example</li>
    </ul>
    <div class="div-left">
        <div class="discount-message">
            <div class="letter-icon"></div>
            <div class="next-to-icon">
                <h4>Saņem atlaižu kodu</h4>
                <p>
                    Saņem reģistrācijas apstiprinājumu un atlaides kodu uz e-pastu.
                </p>
            </div>
        </div>
        <div class="discount-message">
            <div class="basket-icon"></div>
            <div class="next-to-icon">
                <h4>Saņem atlaižu kodu</h4>
                <p>
                    Saņem reģistrācijas apstiprinājumu un atlaides kodu uz e-pastu.
                </p>
            </div>
        </div>
    </div>
    <div class="div-right">
        <div class="discount-message">
            <div class="letter-icon"></div>
            <h4>Saņem atlaides kodu</h4>
            <p>
                Saņem reģistrācijas apstiprinājumu un atlaides kodu uz e-pastu.
            </p>
        </div>
        <div class="discount-message">
            <div class="basket-icon"></div>
            <h4>Saņem atlaides kodu</h4>
            <p>
                Saņem reģistrācijas apstiprinājumu un atlaides kodu uz e-pastu.
            </p>
        </div>
    </div>

    <div class="wrapper">
        <div class="div-half">
            <h5 class="heading-2">Half column content</h5>
            <p class="jysk">
                JYSK.lv uses Purolator to deliver soft goods (ex. Bedding, Home Décor, Bath Products).
                It is important that you provide correct address information. If after three failed attempts of delivering your
                products, it will be held at your closest Purolator depot for two weeks for pick up. If your order is not picked up,
                it will be returned to the JYSK store that sent the product out. At this point, a refund will be given to you for only the products.
                <br>
                <br>
                You will receive a shipment email with a Purolator tracking number once your order is ready for delivery.
                You will be able to start tracking your order at <a href="http://www.purolator.com" class="text-style-1">
                    http://www.purolator.com</a> once Purolator picks up the products from the JYSK store.
            </p>
        </div>
        <div class="div-half">
            <h5 class="heading-2">Half column content</h5>
            <p class="jysk">
                JYSK.lv uses Purolator to deliver soft goods (ex. Bedding, Home Décor, Bath Products). It is important
                that you provide correct address information. If after three failed attempts of delivering your products,
                it will be held at your closest Purolator depot for two weeks for pick up. If your order is not picked up,
                it will be returned to the JYSK store that sent the product out. At this point, a refund will be given to
                you for only the products.
                <br>
                <br>
                You will receive a shipment email with a Purolator tracking number once your order is ready for delivery.
                You will be able to start tracking your order at <a href="http://www.purolator.com" class="text-style-1">
                    http://www.purolator.com</a> once Purolator picks up the products from the JYSK store.
            </p>
        </div>
    </div>
    <h5 class="heading-2">Local Delivery Service</h5>
    <p class="heading-2-subtitle">Heading 2 Subtitle</p>
    <p class="jysk-80">
        JYSK.lv uses 3rd party delivery companies to send furniture and mattress products. All deliveries will be a
        two man service and will be either first-point-of-entry or any room in the house depending on location.
    </p>

    <table class="mobile-table">
        <tr>
            <th colspan="2">A Table Example Column 1</th>
        </tr>
        <tr>
            <td>Row title in two lines lorem ipsum</td>
            <td>Some text aligned in center of cell</td>
        </tr>
        <tr>
            <td>Small row title</td>
            <td>Lorem ipsum dolor jysk amet</td>
        </tr>
        <tr>
            <td>Small row title</td>
            <td>Lorem ipsum dolor jysk amet</td>
        </tr>
        <tr>
            <td>Row title in three long lines to show fluidity</td>
            <td>Two lines content can go there</td>
        </tr>
    </table>

    <table class="mobile-table">
        <tr>
            <th colspan="2">Another Column</th>
        </tr>
        <tr>
            <td>Row title in two lines lorem ipsum</td>
            <td>Second row example</td>
        </tr>
        <tr>
            <td>Small row title</td>
            <td>Consectuam</td>
        </tr>
        <tr>
            <td>Small row title</td>
            <td><img src="<?php echo $this->getViewFileUrl('images/checkmark-icon.png'); ?>" class="checkmark-icon"> Yes</td>
        </tr>
        <tr>
            <td>Row title in three long lines to show fluidity</td>
            <td>Numbers of row is unlimited, and the content will stretch according to it</td>
        </tr>
    </table>

    <table class="mobile-table">
        <tr>
            <th colspan="2">Last column</th>
        </tr>
        <tr>
            <td>Row title in two lines lorem ipsum</td>
            <td>Last column row</td>
        </tr>
        <tr>
            <td>Small row title</td>
            <td><img src="<?php echo $this->getViewFileUrl('images/checkmark-icon.png'); ?>" class="checkmark-icon"> Integrated</td>
        </tr>
        <tr>
            <td>Small row title</td>
            <td>This was an empty cell</td>
        </tr>
        <tr>
            <td>Row title in three long lines to show fluidity</td>
            <td>Two lines content can go there</td>
        </tr>
    </table>

    <table class="desktop-table">
        <tr>
            <th></th>
            <th>A Table Example Column 1</th>
            <th>Another Column</th>
            <th>Last column</th>
        </tr>
        <tr>
            <td>Row title in two lines lorem ipsum</td>
            <td>Some text aligned in center of cell</td>
            <td>Second row example</td>
            <td>Last column row</td>
        </tr>
        <tr>
            <td>Small row title</td>
            <td>Lorem ipsum dolor jysk amet</td>
            <td>Consectuam</td>
            <td><img src="<?php echo $this->getViewFileUrl('images/checkmark-icon.png'); ?>" class="checkmark-icon"> Integrated</td>
        </tr>
        <tr>
            <td>Small row title</td>
            <td>Lorem ipsum dolor jysk amet</td>
            <td><img src="<?php echo $this->getViewFileUrl('images/checkmark-icon.png'); ?>" class="checkmark-icon"> Yes</td>
            <td>This was an empty cell</td>
        </tr>
        <tr>
            <td>Row title in three long lines to show fluidity</td>
            <td>Two lines content <br> can go there</td>
            <td>Numbers of row is unlimited, and the content will stretch according to it</td>
            <td>Two lines content <br> can go there</td>
        </tr>
    </table>
</div>
