.split-content {
    display: flex;
}

.line-spacer {
    background-color: $text-color-3;
    flex-shrink: 0;
    float: left;
    height: 1px;
    margin-right: 10px;
    margin-top: 12px;
    width: 24px;

    @include breakpoint(lg) {
        margin-right: 20px;
        width: 54px;
    }
}

