$background-color: #fff;
$block-related-heading: #2c2f46;
$blue-some: #2170a3;
$green: #85b73c;
$main-color: #85878f;
$price-color: #85878f;
$red: #f00;
$secondary-color: #e5e8ef;
$slick-slide: #e4e6e9;
$table-th-color: #f5f7fb;
$table-td-color: #fcfdff;
$table-border-color: #e4e6e9;
$text-color-2: #2c2f46;
$text-color-3: #85b73c;
$text-color-4: #2682bd;
$white: #fff;
$yjsk-blue: #1e4ca8;
