/**  
most is copied from stylesheet styleguide and not used
**/
@mixin heading-1 {
    font-family: $opensans-light;
    font-size: 26px;
    color: $text-color-2;
}

@mixin heading-1-proxima {
    font-family: ProximaNova-Bold, serif;
    font-size: 17px;
    color: $blue-some;
    letter-spacing: 0;
}

@mixin heading-2 {
    font-family: $opensans-bold;
    font-size: 17px;
    color: $text-color-2;
}

@mixin heading-2-subtitle {
    font-family: $opensans-regular;
    font-size: 17px;
    color: $text-color-4;
    line-height: 22px;
}

@mixin heading-3 {
    font-family: $opensans-semibold;
    font-size: 14px;
    color: $main-color;
}

@mixin text-style-6 {
    font-family: $opensans-regular;
    font-size: 18px;
    color: $text-color-3;
    line-height: 26px;
    letter-spacing: 0;
}

@mixin body-text {
    font-family: $opensans-regular;
    font-size: 14px;
    color: $main-color;
    line-height: 26px;
}

@mixin body-text-small {
    font-family: $opensans-regular;
    font-size: 13px;
    color: $main-color;
    line-height: 19px;
}

@mixin text-quote {
    font-family: $opensans-light;
    font-size: 26px;
    color: $text-color-3;
    line-height: 39px;

}

@mixin table-column-title {
    font-family: $opensans-bold;
    font-size: 13px;
    color: $text-color-2;
    opacity: .55;
    line-height: 22px;
}

@mixin product-title {
    font-family: $opensans-bold;
    font-size: 16px;
    color: $text-color-2;
}

@mixin product-price {
    font-family: $opensans-bold;
    font-size: 18px;
    color: $main-color;
}

@mixin available-in-stock {
    font-family: $opensans-bold;
    font-size: 18px;
    color: $text-color-3;
}

@mixin unordered-list {
    font-family: $opensans-bold;
    font-size: 14px;
    color: $main-color;
    line-height: 26px;
}

@mixin body-link {
    font-family: $opensans-regular;
    font-size: 14px;
    color: $text-color-4;
    line-height: 24px;
}

@mixin body-link-hover {
    font-family: $opensans-regular;
    font-size: 14px;
    color: $blue-some;
    line-height: 24px;
}

@mixin body-link-disabled {
    font-family: $opensans-regular;
    font-size: 14px;
    color: $main-color;
    line-height: 24px;
}