@import 'text-mixins';
/** should be here **/

.opensans-regular-18 {
    @include text-style-6;
    margin-bottom: 40px;
    @include breakpoint(lg) {
        margin-bottom: 48px;
    }
}

.heading-1-proxima {
    @include heading-1-proxima;
    margin-bottom: 24px;
    @include breakpoint(lg) {
        margin-bottom: 14px;
    }
}

.heading-2 {
    @include heading-2;
    margin-bottom: 14px;

}

.jysk {
    @include body-text;
    margin-bottom: 40px;

    a {
        @include body-link;
    }

    @include breakpoint(lg) {
        margin-bottom: 44px;
    }
}

.jysk-80 {
    @include body-text;
    margin-bottom: 40px;
    @include breakpoint(lg) {
        margin-bottom: 44px;
        margin-right: 40px;
    }
}

.jysk-24 {
    color: $main-color;
    font-family: OpenSans, serif;
    font-size: 14px;
    letter-spacing: 0;
    line-height: 24px;
    margin-bottom: 24px;
    @include breakpoint(lg) {
        margin-bottom: 26px;
        margin-right: 40px;
    }
}

.discount-message {
    margin-bottom: 20px;

    h4 {
        @include heading-3;
        margin-bottom: 6px;
        text-transform: uppercase;
    }

    p {
        @include body-text-small;
    }
}

.heading-2-subtitle {
    @include heading-2-subtitle;
    margin-bottom: 20px;
    margin-top: 2px;
    text-transform: uppercase;
}
