@import '../project/media-query';

.block-content {
    @include breakpoint(md) {
        margin: 0 45px;
    }

}

.slick-list {
    margin-bottom: 32px;
    @include breakpoint(md) {
        margin-bottom: 48px;
    }
}

.slick-slide {
    border: solid 1px $slick-slide;
    margin: 0 5px;
    width: 220px;
    @include breakpoint(md) {
        margin: 0 19px;
        width: 274px;
    }
}

.product-image-container {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.main-product-details {
    // prob nothing or maybe only height
    height: 134px;
    padding: 21px 16px 20px;
    @include breakpoint(md) {
        padding: 32px 24px 27px;
    }
}

.product-item-link {
    @include product-title;
}

.title {
    text-align: center;
}

.product-item-name {
    margin: 0 0 3px;
}

.product-item {
    .price-box {
        margin: 0;
    }
}

#block-related-heading {
    color: $block-related-heading;
    font-family: $opensans-light;
    font-size: 26px;
    font-weight: 300;
    line-height: 26px;
}

#block-upsell-heading {
    color: $block-related-heading;
    font-family: $opensans-light;
    font-size: 26px;
    font-weight: 300;
    line-height: 26px;
}

.instock-message {
    color: $green;
    font-family: $opensans-regular;
    font-size: 11px;
    font-stretch: normal;
    font-style: normal;
    font-weight: bold;
    letter-spacing: normal;
    line-height: 16px;
    margin-top: 10px;
}

.the-dot {
    border-radius: 50%;
    display: inline-block;
    height: 10px;
    margin-right: 8px;
    width: 10px;
}

.green-dot {
    background-color: $green;
}

.red {
    background-color: $red;
}

#responsive {
    button:not(.primary) {
        box-shadow: none;
    }

    .price {
        color: $price-color;
        font-family: opensans-regular, serif;
        font-size: 18px;
        font-weight: bold;
    }

    button:hover {
        border: 0;
        color: transparent;
    }

    button:focus {
        background-color: initial;
        border: 0;
        color: transparent;
    }

    button:hover.slick-next {
        background: url('../images/arrow-right.png') no-repeat;
    }

    button:hover.slick-prev {
        background: url('../images/arrow-left.png') no-repeat;
    }

    button:focus.slick-next {
        background: url('../images/arrow-right.png') no-repeat;
    }

    button:focus.slick-prev {
        background: url('../images/arrow-left.png') no-repeat;
    }
}
